mat-sidenav-content {
    height: 100vh;
  }

.content{
  background-color: #eeeeee !important;
  color: #24292e;
  height:100vh;
  padding: 5px;
}

.mat-drawer {
  box-shadow: 5px 0px 15px #888888;
}
